# API URL
VITE_API_BASE_URL=http://localhost:8080/api

# Google OAuth Client ID (from Google Cloud Console)
VITE_GOOGLE_CLIENT_ID=755323177378-11nm4ungk8le19dtj6a0mlqfdiknhiot.apps.googleusercontent.com
