@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
  }

  body {
    margin: 0;
  }
}

html,
body,
#root {
  height: 100%;
}




